<div class="alert alert-success annimationAlertCss" role="alert" *ngIf="isSuccessAlert">
  {{alertMessage}}
</div>
<div class="alert alert-danger annimationAlertCss" role="alert" *ngIf="isFailedAlert">
  {{alertMessage}}
</div>
<div class=" ">
  <section class="">
    <div class="mask d-flex align-items-center h-100 " >
      <div class="mt-2 container h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100 annimationFormCss">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6 ">
            <div class="" >
              <div class="card-body ">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
  
                <form >
  
                  <div class="form-outline mb-2">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                     name="name" #name="ngModel" [(ngModel)]="UserObject.name" />
                    <label class="form-label" for="form3Example1cg">Your Name</label>
                  </div>
  
                  <div class="form-outline mb-2">
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" [(ngModel)]="UserObject.email"
                    name="email" #email="ngModel" />
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  </div> 
  
                  <div class="form-outline mb-2">
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" [ngModel]="UserObject.password"
                    #password="ngModel" name="password" />
                    <label class="form-label" for="form3Example4cg">Password</label>
                  </div>
  
                  <div class="form-outline mb-2">
                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cdg">Confirm Password</label>
                  </div>

                  <div class="form-outline mb-2">
                    <input type="text" id="form3Example5cg" class="form-control form-control-lg"
                     name="about" #about="ngModel" [(ngModel)]="UserObject.about" />
                    <label class="form-label" for="form3Example5cg">Your about</label>
                  </div>

                  <!-- <div class="form-outline mb-4">
                    <input type="text" id="form3Example5cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example5cg">Confirm Password</label>
                  </div> -->
  
                  <div class="form-check d-flex justify-content-center mb-1">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-white"><u>Terms of service</u></a>
                    </label>
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <button type="button"
                      class="btn bg-primary btn-lg text-white" (click)="registerUser()">Register</button>
                  </div>
  
                  <p class="text-center text-white mt-1 mb-0">Have already an account? <a href="#!"
                      class="fw-bold text-gray"><u>Login here</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>